*.o
/hikari
hikari-unlocker
xdg-shell-protocol.h
hikari.1
version\.h
hikari.*\.tar\.gz
wlr-layer-shell-unstable-v1-protocol.h

.claude/

# Core dumps
*.core

# IDE/tooling
compile_flags.txt
.clangd
hikari.log
wlroots-0.20.0/